@model SkemaSystem.Models.LessonBlock

<td data-lesson-id="@Model.Id">
    <span class="scheme-subjectname">@Model.Subject.Name</span><span class="scheme-roomname">@Model.Room.RoomName</span><span class="scheme-teacher">@Model.Teacher.Name</span>
</td>