<div class="form-group" style="display:none;">
    <label class="control-label col-md-3">Muligheder:</label>
    <div class="col-md-9">
        <select class="form-control">
            <option>- Vælg mulighed -</option>
            <option value="28-05-2014">28-05-2014</option>v
            <option value="29-05-2014">29-05-2014</option>
            <option value="29-05-2014">29-05-2014</option>
        </select>
    </div>
</div>