@model SkemaSystem.Models.Scheme

<label class="control-label">Fag</label>
@Html.DropDownList("scheme", new SelectList(@Model.SubjectDistBlocks, "Id", "BeatifulString"), "- Vælg fag -", new { @class = "form-control" })