@model SkemaSystem.Models.Education

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-sm-8">Table</div>
    <div class="col-sm-4 box">Box</div>
</div>

<div>
    <h4>Education</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { name = Model.Name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
