@using Microsoft.AspNet.Identity

@{string action = ViewContext.RouteData.Values["education"] == null ? "Redirect" : "Index";}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", new { Area = "Admin" }, FormMethod.Get, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
    <ul>
        <li>
            @Html.ActionLink("Skemalægning", action, "Scheduling", new { Area = "Admin" }, null)
        </li>
        <li>
            @Html.ActionLink("Administration", "Index", "Account", new { Area = "Admin" }, null)
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log ud</a></li>
    </ul>
    }
}
else
{
    <li>@Html.ActionLink("Log ind", "Login", "Account", routeValues: new { Area = "Admin" }, htmlAttributes: new { id = "loginLink" })</li>
}
