@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Admin", FormMethod.Get, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

        <li>
            <span> Hej @User.Identity.GetUserName() !</span>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
    <li>@Html.ActionLink("Log ind", "Login", "Account", routeValues: new { Area = "Admin" }, htmlAttributes: new { id = "loginLink" })</li>
}
