@model IEnumerable<SkemaSystem.Models.Education>

@{
    ViewBag.Title = "Forsiden";
}

@section Subheader {
    Test
}

<div class="jumbotron">
    <h1>Velkommen til det nye Skema!, nu på github og Appharbor og mig!</h1>
    <h2>Eitt</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Liste of laver</h1>
        @foreach (var item in Model)
        {
            <div class="alert alert-danger">@item.Name </div>
        }
    </div>
</div>