@model SkemaSystem.Models.ViewModels.SchemeViewModel

@{
    ViewBag.Title = "Forsiden";
}

<div class="row">
    <div class="col-md-12">
        <h1>Skemavisning</h1>
        
        @Html.Partial("_SchemePartial", @Model);

    </div>
</div>