@model SkemaSystem.Models.Room

@{
    ViewBag.Title = "Detaljer";
}

@section Subheader {
    @Html.Partial("_AdminTabsPartial")
}

<h2>Detaljer</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Lokale navn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ændre", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tilbage til lokalelisten", "Index")
</p>
