
@{
    ViewBag.Title = "Demo";
}

<h2>Page with tabs:</h2>

@Html.ActionLink("Lærere", "Index", "Teacher", new { Area = "Admin" }, null)
<br />
@Html.ActionLink("Klasser", "Index", "Class", new { Area = "Admin" }, null)